.container{
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
   
    background-color: #F0131E;
    position: fixed;
    z-index: 100;

}

.subContainer{
    padding: 0%;
    margin: 0;
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 110;    
}

.results{
    width: 40%;
    border-radius: 12px;
    list-style: none;
    margin: 45px 0 0 0;
    padding: 10px 10px 10px 10px;
    
    position: absolute;
    overflow: visible;
    background-color: aliceblue;
}
