.container{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

}
.title{
    all: unset;    
    margin: 0;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1rem;
    color: grey;
    font-weight: 600;
}
.stringContainer{
    display: flex;
    width: fit-content;
    height: max-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;       
    padding: 0;
    flex-wrap: wrap;
}
.string{
    display: block;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 0.8rem;
    color: grey;
}